* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'Omnes-Bold';
  /* You can specify any name you want */
  src: url('../fonts/Omnes-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Omnes-Regular';
  /* You can specify any name you want */
  src: url('../fonts/Omnes-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Omnes-SemiBold';
  src: url('../fonts/Omnes-SemiBold.woff') format('woff');
}

/* Define the keyframes for the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    /* Start with 0 opacity */
  }

  to {
    opacity: 1;
    /* End with full opacity (visible) */
  }
}

/* Define the keyframes for the fade-out animation */
@keyframes fadeOut {
  from {
    opacity: 1;
    /* Start with 1 opacity */
  }

  to {
    opacity: 0;
    /* End with 0 opacity (hidden) */
  }
}

@keyframes hover {

  /* make your image go up and down by 5px in y-axis */
  0% {
    transform: translatY(0)
  }

  50% {
    transform: translateY(-5px)
  }

  100% {
    transform: translateY(0)
  }
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.btn {
  font-family: 'Omnes-Bold', sans-serif;
  font-size: 2rem;
  color: white;
  height: 4.5rem;
  width: 33%;
  border-color: transparent;
  background-color: #859CFF;
  border-radius: 20px;
  border-bottom: 8px solid #7187E4;

  margin-top: 1vh;

  transition: background-color 0.4s;
}


.btn:hover {
  background-color: #9CAFFF;
  cursor: pointer;
}