.flight-container {
    width: 100vw;
    height: 90vh;
    background-image: url('../images/backgrounds/take_off_bg.png');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.flight-container::before {
    content: "";
    position: absolute;
    /* Change to absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 3, 3, 0.95);
    /* Background color with opacity */
    z-index: 4;

    animation-name: fadeOut;
    /* Reference the animation keyframes */
    animation-duration: 2.5s;
    /* Duration of the animation */
    animation-timing-function: ease-in-out;
    /* Timing function for smooth animation */
    animation-fill-mode: forwards;
    /* Keeps the final state of the animation */
    opacity: 0;
    /* Start with 0 opacity (invisible) */
}



.flight-muning-section {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 75%;

    position: relative;
    bottom: -25%;
    z-index: 5;

    animation-name: fadeIn;
    /* Reference the animation keyframes */
    animation-duration: 0.75s;
    /* Duration of the animation */
    animation-timing-function: ease-in-out;
    /* Timing function for smooth animation */
    animation-fill-mode: forwards;
    /* Keeps the final state of the animation */
    opacity: 0;
    /* Start with 0 opacity (invisible) */
}

.flight-muning-section img {
    width: 19.75rem;
    max-width: 20vw;
    height: auto;

    position: relative;

    animation-name: hover;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


#muning-dialog-bubble {
    display: flex;
    flex-direction: column;
    gap: 1vh;
  
    width: 72%;  
    max-height: 50%;
    height: 14.5vh;
    min-height: fit-content;
  
    background-color: #ffffff;
  
    border-radius: 20px;
    box-shadow: 1rem 1rem 0px rgba(0, 0, 0, 0.2);

    
    position: relative;
    z-index: 4;
  
    overflow: visible;
  }
  
  #muning-dialog-bubble::after {
    content: ""; /* Required for pseudo-elements with no content */
    
    width: 15%;
    height: 0.5vh;
  
    border-top: 45px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 45px solid #ffffff;

    position: absolute;
    top: 20%; /* Position it vertically in the middle */
    left: -9.5vw; /* Adjust this value to control the position of the tail */
  
  }
  
  .muning-bubble-text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    min-width: min-content;
    max-width: 90%;
    height: 100%;
    
    padding: 1rem 2rem;
    z-index: 5;
  }
  
  
  .muning-bubble-text-content p {
    color: #4B4B4B;
    font-family: 'Omnes-SemiBold', sans-serif;
    font-size: 2rem;
  
    word-spacing: 0.25rem;
    line-height: 2.5rem;
  }