@font-face {
    font-family: 'Omnes-Bold'; /* You can specify any name you want */
    src: url('../fonts/Omnes-Bold.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Omnes-Regular'; /* You can specify any name you want */
    src: url('../fonts/Omnes-Regular.woff') format('woff');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Omnes-Regular';
}

.gen-navbar {
    height: 15vh;
    width: 100vw;
    background-color: #f9f9f9;
    display: flex;
}

.name-logo-wrapper {
    display: flex;
    align-items: center;
    width: 50vw;
}

.register-page-icon {
    height: 55px;
    transform: translateY(8px);
    margin-left: 5rem;
}

.nav-title {
    color: #0038A8;
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
    font-family: 'Omnes-Bold';
}

.nav-ul {
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 10rem;
}

li {
    list-style: none;
}

li > a {
    text-decoration: none;
    font-weight: bold;
    color: #4b4b4b;
}

.user-avatar {
    border: 3px solid #FF6B00;
    border-radius: 250px;
    margin-left: 15px;
}

.user-name {
    font-family: 'Omnes-Bold';
    font-size: 20px;
    margin-top: 20px;
}

.placement-question-background {
    height: 105vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 40px;

}

.question-background {
    height: 70vh;
    width: 90%;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 25px;
    margin-left: 5%;
}

.question-label {
    color: gray;
}

.question {
    margin-bottom: 10px;
    font-family: 'Omnes-Bold';

}

.choices-wrapper {
    gap: 10%;
    width: 40vw;
    margin-left: 150px;
}

.ac-choice, .bd-choice {
    width: 100%;
}

.a-choice, .b-choice, .c-choice, .d-choice {
    height: 4.5rem;
    width: 100%;
    border: 2px solid grey;
    border-bottom: 6px solid grey;
    border-radius: 20px;
    background-color: white;
    color: grey;
    padding-left: 20px;
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    align-items: center;
  }



.a-choice:hover, .b-choice:hover, .c-choice:hover, .d-choice:hover {
    border: 2px solid #859CFF;
    border-bottom: 6px solid #859CFF;
    border-radius: 20px;
    background-color: white;
    ;
    color: #859CFF;
    cursor: pointer;
}

.a-choice.selected, .b-choice.selected, .c-choice.selected, .d-choice.selected {
    border: 2px solid #859CFF;
    border-bottom: 6px solid #859CFF;
    background-color: white;
    color: #859CFF;
}

.question-image-wrapper {
    display: flex;
    
}

.q-image {
    margin-left: 50px;
}

.bottom-button {
    background: white;
    display: flex;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease;
}

.question-btn {
    padding: 10px;
    font-size: 1.5rem;
    margin-left: auto;
    width: 15%;
    border-radius: 15px;
    font-family: 'Omnes-Bold';
    background-color: #859CFF;
    color: white;
    border: 1px solid #859CFF;
    border-bottom: 6px solid #7187E4;
    margin-right: 85px;
}

.question-btn:hover {
    background-color: transparent;
    color: #7187E4;
}



.feedback-section {
    width: 100vw;
    height: 20vh;
    margin-top: 9.58vh;
}

.correct-feedback {
    height: 20vh;
    width: 100vw;
    background-color: #FFD15B;

}

.incorrect-feedback {
    height: 20vh;
    width:  100vw;
    background-color: #E3E3E3;;
}

.correct-feedback, .incorrect-feedback {
    display: none;
    align-items: center;
    animation: slideUp 0.8s forwards;

}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.image-wrapper {
    width: 70vw;
    margin-left: 50px;
    transform: translateY(-29px);
}

.correct-cat-speech-bubble {
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 400px;
}

.correct-cat-speech {
    font-size: 25px;
    color: #4b4b4b;
    font-family: 'Omnes-Bold';
    transform: translate(40px, 33px);
}

.feedback-btn {
    border-radius: 15px;
    border: 1px solid #859CFF;
    background-color: #859CFF;
    color: white;
    font-family: 'Omnes-Bold';
    border-bottom: 6px solid #7187E4;
    padding: 10px;
    font-size: 1.5rem;
    width: 15vw;
    margin-left: 7vw;
}

.feedback-btn:hover {
    cursor: pointer;
    background: #f9f9f9;
    color: #859CFF;
}

.cat-animation {
    animation: upAndDown 2s linear infinite;
}

@keyframes upAndDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust the distance of movement */
    }
}